include _layout
  #game-container: .page#game
  article.page
    include:markdown-it ../README.md
    p: a(href="//github.com/codeartisticninja/"+pkg.name) Source on Github
    section#lipsum
      h2 Quisque bibendum ex nec nibh feugiat, vitae suscipit nisl tempor.
      ol
        li Suspendisse ut enim eu justo eleifend auctor ut vitae est.
        li Phasellus efficitur nulla vitae lacus varius accumsan.
          ul
            li Suspendisse ut enim eu justo eleifend auctor ut vitae est.
            li Phasellus efficitur nulla vitae lacus varius accumsan.
            li Sed in enim vitae risus viverra sodales vitae id nunc.
            li Etiam at justo ac nisl ultrices varius sit amet quis nunc.
            li Integer vehicula mi volutpat, mattis justo vitae, bibendum dui.
        li Sed in enim vitae risus viverra sodales vitae id nunc.
        li Etiam at justo ac nisl ultrices varius sit amet quis nunc.
        li Integer vehicula mi volutpat, mattis justo vitae, bibendum dui.
      h2 Duis sit amet tellus ultricies, hendrerit mi eu, convallis erat.
      ul
        li Suspendisse ut enim eu justo eleifend auctor ut vitae est.
        li Phasellus efficitur nulla vitae lacus varius accumsan.
          ol
            li Suspendisse ut enim eu justo eleifend auctor ut vitae est.
            li Phasellus efficitur nulla vitae lacus varius accumsan.
            li Sed in enim vitae risus viverra sodales vitae id nunc.
            li Etiam at justo ac nisl ultrices varius sit amet quis nunc.
            li Integer vehicula mi volutpat, mattis justo vitae, bibendum dui.
        li Sed in enim vitae risus viverra sodales vitae id nunc.
        li Etiam at justo ac nisl ultrices varius sit amet quis nunc.
        li Integer vehicula mi volutpat, mattis justo vitae, bibendum dui.
      h3 Nunc sodales dui sit amet lacus luctus varius.
      p 50. Integer vehicula mi volutpat, mattis justo vitae, bibendum dui.
      table
        tr
          th Monday
          th Tuesday
          th Wedensday
          th Thursday
        tr
          td Math
          td Geography
          td Science
          td English
        tr
          td English
          td Math
          td Geography
          td Science
        tr
          td Science
          td English
          td Math
          td Geography
      p Curabitur quis tristique dolor. Nunc a eros nec orci cursus aliquam. Vivamus turpis nisi, venenatis eu semper ut, tincidunt non nisl. Fusce ultricies fringilla purus, aliquam mattis purus vehicula non. Praesent sit amet pharetra mi. Praesent et urna ut ligula congue semper. Ut euismod massa quis mauris porttitor, a rutrum turpis commodo. Vestibulum placerat quis nisi vel condimentum. Phasellus nisi sapien, scelerisque et massa eu, iaculis maximus enim. Fusce tincidunt lorem vel neque hendrerit varius. Morbi nibh massa, rutrum eget tortor ut, ultricies lobortis orci. Aliquam ut arcu quam. Mauris fringilla enim at vehicula volutpat. Mauris sit amet elit elementum, eleifend lorem aliquam, fringilla mauris.
      h4 In at arcu eget enim placerat euismod sit amet a lorem.
      p Maecenas mattis elementum erat, vel dictum risus consequat sed. Phasellus dictum ligula ac ultricies tincidunt. Praesent id justo justo. Mauris commodo mollis orci at fermentum. Quisque mollis sit amet lectus nec efficitur. In aliquet nec quam id viverra. Phasellus vel est elit. Donec sed cursus augue. Maecenas viverra elit eu leo dignissim luctus.
      h5 Donec auctor libero ac lectus interdum, eget consequat sem fermentum.
      p Suspendisse ornare ligula at ante rhoncus, eu luctus odio sagittis. In sagittis nisl a ornare auctor. Nulla facilisi. Fusce at ullamcorper diam. Integer in est ligula. Aliquam luctus facilisis purus. Fusce id fringilla enim. Aliquam at libero imperdiet, ultricies tellus sit amet, efficitur ante. Nullam non ante a nunc sollicitudin malesuada. In pellentesque, elit et vestibulum porttitor, diam dolor ullamcorper nisi, in aliquet diam dolor at ex. Nunc at erat dui. Sed turpis nulla, volutpat ut dapibus et, mollis eu arcu.
      h6 Aenean vel ligula ut eros vestibulum suscipit.
      p Cras accumsan sollicitudin tortor, quis laoreet ante consectetur ac. Mauris sed nisi ut turpis placerat gravida. Sed scelerisque nec elit vel eleifend. Fusce vestibulum, enim nec ullamcorper luctus, mi augue dictum urna, ut rhoncus dui nulla eu mi. Quisque dictum volutpat ex vitae semper. Praesent vehicula malesuada consectetur. Praesent nunc augue, ullamcorper a ante ac, vestibulum feugiat velit. Vestibulum condimentum neque in urna tincidunt tincidunt. Donec ornare, massa eget accumsan semper, lacus dui elementum sem, quis faucibus dui felis nec diam. Vivamus commodo mi erat. Nam egestas consectetur tellus sit amet vehicula. Cras auctor sapien nec odio pellentesque accumsan. Praesent facilisis at nibh vel tempus. Vivamus tincidunt porta blandit. Phasellus sed arcu vel lectus accumsan fringilla. Sed laoreet tincidunt mauris, ac pharetra velit tempus eget.
  script(type="text/javascript", src="script/main.js")
